{% extends 'base.html' %}

{% block content %}
<div class="account_body">
    <div class="wrapper" style="text-align: center; margin: auto 8rem">
        <h4>로그아웃</h4>
        <p>로그아웃하시겠습니까? 계정을 안전하게 보호하려면 공용 컴퓨터에서는 꼭 로그아웃하세요.</p>
        <form action="{% url 'accountapp:logout'%}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger rounded-pill col-12 mt-3">
        </form>

        <h6 style="display:inline"><a href="{% url 'invitationapp:create'%}">취소</a></h6>
    </div>
</div>

{% endblock %}