<div>
    <!-- 연락처 -->
    <div>
        <h3>신랑측</h3>
        <p>신랑 {{contactinfo.husband_tel}}</p>
        <i class="fa-solid fa-phone" onclick="document.location.href='tel:{{contactinfo.husband_tel}}'"></i>
        <p>아버님 {{contactinfo.husband_father_tel}}</p>
        <p>어머님 {{contactinfo.husband_mother_tel}}</p>
    </div>
    <div>
        <h3>신부측</h3>
        <p>신부 {{contactinfo.wife_tel}}</p>
        <p>아버님 {{contactinfo.wife_father_tel}}</p>
        <p>어머님 {{contactinfo.wife_mother_tel}}</p>
    </div>
</div>